body {
  background: url("spaceinvaders.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  font-size: 30px;
}
