body {
  background-color: #D3D3D3;
  font-family: 'Ropa Sans', sans-serif;
}

#landing {
  background-color: brown;
}

h1 {
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: 'Ropa Sans', sans-serif;
}

.spot.black{
  background-color: black;
}
.spot.red{
  background-color: red;
}
#gameboard {
  width: 600px;
  height: 500px;
  background-color: blue;
  text-align: center;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.spot {
  flex-direction: column;
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#whoseTurn {
  width: 150px;
  height: 200px;
  position: relative;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  font-family: 'Ropa Sans', sans-serif;
}

.turnBox {
  background-color: red;
  width: 100px;
  height: 100px;
}

.signup {
  font-family: 'Ropa Sans', sans-serif;
  color: orange;
}

@media only screen and (max-device-width: 768px) and (orientation : portrait) {
  {
    height: 100px;
    width: 100px;
    left: 65%;
    position: absolute;
    border-radius: 10%;
    margin: 190px 10px 10px 10px;
  }




