body {
  background-color: yellow;
}

h1 {
  text-align: center;
  color: red;
  font-size: 30px;
}

#gameboard {
  width: 600px;
  height: 500px;
  background-color: blue;
  text-align: center;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.spots {
  flex-direction: column;
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.turnBox {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}




